@charset "utf-8";
@import "./../../../node_modules/bulma/sass/utilities/_all.sass";

$modal-content-width: 750px;
$theme-colors: (
  'dxp': (
    'text-color-primary': #3c3c3c,
    'text-color-secondary': #777777,
    'color-primary': #007aff,
    'color-button-hover': #1f8aff,
    'color-button-pressed': #005ec5,
    'color-button-disabled': #090d12,
    'color-success': #6ab11c,
    'color-danger': #d0021b,
    'color-white': #ffffff,
    'color-grey-1': #eeeeee,
    'color-grey-2': #f5f5f5,
    'color-grey-3': #d8d8d8,
    'color-grey-4': #757575,
    'color-grey-5': #f8f9fa,
    'color-grey-6': #bdc4cb,
    'color-grey-7': #dadada,
    'color-grey-8': #dbdbdb,
    'color-red': #6ab11c
  ),
  'vv': (
    'text-color-primary': #000000,
    'text-color-secondary': #777777,
    'color-primary': #d0021b,
    'color-button-hover': #b40808,
    'color-button-pressed': #e10a0a,
    'color-button-disabled': #e2e2e2,
    'color-success': #6ab11c,
    'color-danger': #d0021b,
    'color-white': #ffffff,
    'color-grey-1': #eeeeee,
    'color-grey-2': #f5f5f5,
    'color-grey-3': #d8d8d8,
    'color-grey-4': #757575,
    'color-grey-5': #f8f9fa,
    'color-grey-6': #bdc4cb,
    'color-grey-7': #dadada,
    'color-grey-8': #dbdbdb,
    'color-red': #6ab11c,
  ),
  'ncl': (
    'text-color-primary': #3c3c3c,
    'text-color-secondary': #777777,
    'color-primary': #00f0b4,
    'color-button-hover': #1f8aff,
    'color-button-pressed': #005ec5,
    'color-button-disabled': #090d12,
    'color-success': #6ab11c,
    'color-danger': #d0021b,
    'color-white': #ffffff,
    'color-grey-1': #eeeeee,
    'color-grey-2': #f5f5f5,
    'color-grey-3': #d8d8d8,
    'color-grey-4': #757575,
    'color-grey-5': #f8f9fa,
    'color-grey-6': #bdc4cb,
    'color-grey-7': #dadada,
    'color-grey-8': #dbdbdb,
    'color-red': #6ab11c,
  ),
);

$color-primary:(
    'dxp': #007aff,
    'vv': #d0021b,
    'ncl':#00f0b4,
);

$theme-font-family: (
  'dxp': (
    'font-family-primary': 'Roboto'
  ),
  'vv': (
    'font-family-primary': 'Roboto'
  ),
  'ncl': (
    'font-family-primary': 'Roboto'
  ),
);

$base-font-size: 0.875rem;
$base-line-height: 1.25 * $base-font-size;

$theme-font-size: (
  'dxp': (
    'font-size-12': .75rem, // 12px
    'font-size-14': .875rem, // 14px
    'font-size-16': 1rem, // 16px
    'font-size-18': 1.125rem, // 18px
    'font-size-20': 1.25rem, // 20px
    'font-size-22': 1.375rem, // 22px
    'font-size-24': 1.5rem, // 24px
    'font-size-34': 2.125rem, // 34px
    'font-size-44': 2.75rem // 44px
  ),
  'vv': (
    'font-size-12': .75rem, // 12px
    'font-size-14': .875rem, // 14px
    'font-size-16': 1rem, // 16px
    'font-size-18': 1.125rem, // 18px
    'font-size-20': 1.25rem, // 20px
    'font-size-22': 1.375rem, // 22px
    'font-size-24': 1.5rem, // 24px
    'font-size-34': 2.125rem, // 34px
    'font-size-44': 2.75rem // 44px
  ),
  'ncl': (
    'font-size-12': .75rem, // 12px
    'font-size-14': .875rem, // 14px
    'font-size-16': 1rem, // 16px
    'font-size-18': 1.125rem, // 18px
    'font-size-20': 1.25rem, // 20px
    'font-size-22': 1.375rem, // 22px
    'font-size-24': 1.5rem, // 24px
    'font-size-34': 2.125rem, // 34px
    'font-size-44': 2.75rem // 44px
  )
);


$theme-font-weight: (
  'dxp': (
    'font-weight-lighter': lighter,
    'font-weight-bold': bold,
    'font-weight-bolder': bolder,
    'font-weight-normal': normal
  ),
  'vv': (
    'font-weight-lighter': lighter,
    'font-weight-bold': bold,
    'font-weight-bolder': bolder,
    'font-weight-normal': normal
  ),
  'ncl': (
    'font-weight-lighter': lighter,
    'font-weight-bold': bold,
    'font-weight-bolder': bolder,
    'font-weight-normal': normal
  ),
);


