
@mixin font(
  $size: null,
  $name: $font-family-base,
  $weight: null,
  $color: null,
  $line-height: $line-height-base,
  $style: null
) {

  @if $size != null {
    font-size: $size;
  }

  @if $name != null {
    font-family: map-get-default($fonts, $name);
  }

  @if $weight != null {
    font-weight: map-get-default($font-weights, $weight);
  }

  @if $line-height != null {
    line-height: $line-height;
  }

  @if $color != null {
    color: $color;
  }

  @if $style != null {
    font-style: $style;
  }
}

@mixin mixin-font-family($brand,$key) {
  font-family: theme-font-family($brand, $key) !important;
}

@mixin mixin-font-size($brand,$key) {
  font-size: theme-font-size($brand, $key) !important;
}

@mixin mixin-font-weight($brand,$key) {
  font-weight: theme-font-weight($brand, $key) !important;
 
}

@mixin mixin-color($brand,$key) {
  color: theme-color($brand, $key) !important;
 
}

@mixin mixin-background-color($brand:'dxp',$key:'color-grey-2') {
  background-color: theme-background-color($brand, $key) !important;
}


@mixin mixin-border($brand:'dxp',$style: solid, $color: 'color-primary', $top: 1px, $right: 1px, $down: 1px, $left: 1px) {
  border-width: $top $right $down $left !important;
  border-style: $style !important;
  border-color: theme-color($brand, $color) !important;
}

@mixin mixin-border($brand:'dxp',$color:'color-primary') {
  border: 2px solid theme-color($brand, $color) !important;
}

@mixin mixin-box-shadow($top, $right, $down, $left, $color-r: 0, $color-g: 0, $color-b: 0, $color-a: 0.5) {
  box-shadow: $top $right $down $left rgba($color-r, $color-g, $color-b, $color-a);
}
