$theme: 'vv-light';
@mixin font(
  $size: null,
  $name: $font-family-base,
  $weight: null,
  $color: null,
  $line-height: $line-height-base,
  $style: null
) {

  @if $size != null {
    font-size: $size;
  }

  @if $name != null {
    font-family: map-get-default($fonts, $name);
  }

  @if $weight != null {
    font-weight: map-get-default($font-weights, $weight);
  }

  @if $line-height != null {
    line-height: $line-height;
  }

  @if $color != null {
    color: $color;
  }

  @if $style != null {
    font-style: $style;
  }
}

@mixin mixin-font-family($key) {
  font-family: theme-font-family($theme, $key);
  .dxp-light & {
    font-family: theme-font-family($theme, $key);
  }
  .vv-light & {
    font-family: theme-font-family($theme, $key);
  }
  .ncl-light & {
    font-family: theme-font-family($theme, $key);
  }
}

@mixin mixin-font-size($key) {
  font-size: theme-font-size($theme, $key);
  .dxp-light & {
    font-size: theme-font-size($theme, $key);
  }
  .vv-light & {
    font-size: theme-font-size('vv-light', $key);
  }
  .ncl-light & {
    font-size: theme-font-size('ncl-light', $key);
  }
}

@mixin mixin-font-weight($key) {
  font-weight: theme-font-weight($theme, $key);
 
}

@mixin mixin-color($key) {
  color: theme-color($theme, $key);
 
}

@mixin mixin-background-color($key) {
  background-color: theme-background-color($theme, $key);
 
}


@mixin mixin-border($style: solid, $color: 'color-primary', $top: 1px, $right: 1px, $down: 1px, $left: 1px) {
  border-width: $top $right $down $left;
  border-style: $style;
  border-color: theme-color($theme, $color);
 
}

@mixin mixin-border-bottom-color($color: 'color-grey-1') {
  border-bottom-color: theme-color($theme, $color) !important;
 
}
@mixin mixin-border-left-color($color: 'color-grey-1') {
  border-left-color: theme-color($theme, $color) !important;
 
}
@mixin mixin-box-shadow($top, $right, $down, $left, $color-r: 0, $color-g: 0, $color-b: 0, $color-a: 0.5) {
  box-shadow: $top $right $down $left rgba($color-r, $color-g, $color-b, $color-a);
  
}
