@mixin font(
  $size: null,
  $name: $font-family-base,
  $weight: null,
  $color: null,
  $line-height: $line-height-base,
  $style: null
) {

  @if $size != null {
    font-size: $size;
  }

  @if $name != null {
    font-family: map-get-default($fonts, $name);
  }

  @if $weight != null {
    font-weight: map-get-default($font-weights, $weight);
  }

  @if $line-height != null {
    line-height: $line-height;
  }

  @if $color != null {
    color: $color;
  }

  @if $style != null {
    font-style: $style;
  }
}
@mixin primary-color($key){
  color: primary-color($key)!important;
}
@mixin primary-background-color($key){
  background-color: primary-color($key)!important;
}
@mixin mixin-font-family($brand,$key) {
  font-family: theme-font-family($key,$brand)!important;
  
}

@mixin track() {
  background-color: black;
  width: 100%;
  height:.1em;
  cursor: pointer;
  background:rgb(80, 78, 78);
  

 }
 @mixin thumb() {
  margin-top:-10px;
  width: 1.5em; /* Set a specific slider handle width */
  height: 1.5em; /* Slider handle height */
  background-color: lightgray;
  border:1px solid black;
  box-shadow: rgb(56, 51, 51);
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
  border:1px solid black;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  box-shadow: rgb(56, 51, 51);
 }


@mixin mixin-font-size($key) {
  font-size: theme-font-size( $key);
 
}

@mixin mixin-font-weight($brand,$key) {
  font-weight: theme-font-weight($brand,$key);
}

@mixin mixin-color($brand,$key) {
  color: theme-color($brand,$key);
}

@mixin mixin-background-color($brand,$key) {
  background-color: theme-background-color($brand,$key);
}

@mixin mixin-border($style: solid, $color: 'color-primary', $top: 1px, $right: 1px, $down: 1px, $left: 1px) {
  border-width: $top $right $down $left;
  border-style: $style;
  border-color: theme-color('dxp', $color);
  .dxp & {
    border-width: $top $right $down $left;
    border-style: $style;
    border-color: theme-color('dxp', $color);
  }
  .vv & {
    border-width: $top $right $down $left;
    border-style: $style;
    border-color: theme-color('vv', $color);
  }
  .vv & {
    border-width: $top $right $down $left;
    border-style: $style;
    border-color: theme-color('vv', $color);
  }
  .ncl & {
    border-width: $top $right $down $left;
    border-style: $style;
    border-color: theme-color('ncl', $color);
  }
}

@mixin mixin-border-bottom-color($color: 'color-grey-1') {
  border-bottom-color: theme-color('dxp', $color) !important;
  .dxp & {
    border-bottom-color: theme-color('dxp', $color) !important;
  }
  .vv & {
    border-bottom-color: theme-color('dxp', $color) !important;
  }
  .vv & {
    border-bottom-color: theme-color('dxp', $color) !important;
  }
  .ncl & {
    border-bottom-color: theme-color('dxp', $color) !important;
  }
}

@mixin mixin-box-shadow($top, $right, $down, $left, $color-r: 0, $color-g: 0, $color-b: 0, $color-a: 0.5) {
  box-shadow: $top $right $down $left rgba($color-r, $color-g, $color-b, $color-a);
  .dxp & {
    box-shadow: $top $right $down $left rgba($color-r, $color-g, $color-b, $color-a);
  }
  .vv & {
    box-shadow: $top $right $down $left rgba($color-r, $color-g, $color-b, $color-a);
  }
  .vv & {
    box-shadow: $top $right $down $left rgba($color-r, $color-g, $color-b, $color-a);
  }
  .ncl & {
    box-shadow: $top $right $down $left rgba($color-r, $color-g, $color-b, $color-a);
  }
}
