
    .dxp{
        @include mixin-background-color('dxp','color-white');
        @include mixin-color('dxp','text-color-primary');
        max-width: 250em;
        padding:3em;
        position: relative;
        bottom:5em;
        .overlay{
            position: relative;
            left:45%;
            bottom: 20em; 
      }
    }
    .vv{
        @include mixin-background-color('vv','color-white');
        @include mixin-color('vv','text-color-primary');
        max-width: 250em;
        padding:3em;
        position: relative;
        bottom:5em;
        .overlay{
            position: relative;
            left:45%;
            bottom: 20em; 
      }
    }
    .ncl{
        @include mixin-background-color('ncl','color-white');
        @include mixin-color('ncl','text-color-primary');
        max-width: 250em;
        padding:3em;
        position: relative;
        bottom:5em;
        .overlay{
            position: relative;
            left:45%;
            bottom: 20em; 
      }
    }
 



