
.section {
  padding: 1.25rem;
}

.RootContainer {
  width: 100% !important;
  .LayoutContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .PageContainer {
      width: 100%;
    }
  }
 
}
