body {
  margin: 0;
  width: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI","Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  @include mixin-background-color('color-grey-2');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
