
body {
  margin: 0;
  width: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI","Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

  }

textarea{
  width: 100%;
  min-height: 5em;
  padding:8px!important;
  background: rgb(253, 253, 253);
}
input[type=text]{
  width: 100% !important;
  height:3em !important;
  padding: 10px;
  display: inline-block;
  background: rgb(253, 253, 253);
}
select{
  width: 100% !important;
  height:3em !important;
  padding: 10px;
  background: rgb(253, 253, 253);
align-content: center;
}
  .chat {
    width: 300px;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .messenger{
    .user-area{
      background-color: whitesmoke!important;
    }
  }
  .messages {
    margin-top: 30px;
    .message-area{
      max-height: 20em!important;
      overflow: auto;
    }
   
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .yours {
    align-items: flex-start;
  }
  
  .yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
  }
  
  .yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
  }
  .yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
  }
  
  .mine {
    align-items: flex-end;
  }
  
  .mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
  }
  
  .mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
  }
  
  .mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
  }
  

  input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  

  input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
  height: 2.3em;
    &::-webkit-slider-runnable-track { @include track; }
    &::-moz-range-track { @include track; }
    &::-ms-track { @include track;}
    &::-ms-thumb {@include thumb; margin-bottom:-6px;}
    &::-webkit-slider-thumb{ @include thumb; }
    &::-moz-range-thumb{ @include thumb; }
    &:focus{ 
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }
    &:hover{ outline: none;}
  }
  .side-menu{
    margin-right: 2em;
    padding: 1em;
    height: 100%;
    min-height: 800px;
}
.nav{
  width: 100% !important;
  padding:2em;
  margin:0;
 
}

.switch{
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 28px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 8px;
    transition: 0.5s;
  }
  
  input:checked + label {
    @include mixin-primary-color('vv');
  }
  
  input:checked + label:after {
    left: calc(100% - .5em);
    transform: translateX(-100%);
  }
  
  label:active:after {
      width: 15px;
      height: 15px;
      border: 1px solid $black;
  }
  }

.tile {
  &.is-parent{
      min-width: 10em !important;
      max-width: 24em;
      min-height: 10em;
      &.is-parent{
        background-color: transparent;
      }
  }
}
 
  .vv{
    .dark{
      .create{
        margin-left:3em;
        margin-right:3em;
        background-color: transparent!important;
        .box{
          @include mixin-background-color('vv','color-grey-2'); 
          @include mixin-color('vv','text-color-primary');
        }
      }
      .messenger{
        margin-left:3em;
        margin-right:3em;
        background-color: transparent!important;
        .box{
          @include mixin-background-color('vv','color-grey-2'); 
          @include mixin-color('vv','text-color-primary');
        }
      }
     progress{
      @include mixin-primary-color('vv');
      @include mixin-primary-background-color('vv');
     }
   
     .app{
      @include mixin-background-color('vv','color-grey-4'); 
  }
      p{
        @include mixin-color('vv','text-color-primary');
      }
      label{
        @include mixin-color('vv','color-grey-4');
      }
      h1{
        @include mixin-color('vv','text-color-primary');
      }
      h2{
        @include mixin-color('vv','text-color-primary');
      }
      h3{
        @include mixin-color('vv','text-color-primary');
      }
      
      .login{
        @include mixin-color('vv','color-white');

      }
     
      .dashboard{
        
        @include mixin-color('vv','text-color-primary');
        @include mixin-background-color('vv','color-grey-4');
        padding-right:2em;
        border: none;            
       
      }
      span{
       
      }
      small{
        @include mixin-color('vv','text-color-primary');

      }
    
      a{
       
        @include mixin-color('vv','text-color-secondary');

      }
      .title{
        @include mixin-color('vv','color-white');

      }
      .subtitle{
        @include mixin-color('vv','text-color-primary');

      }
    
      .card{
        @include mixin-color('vv','text-color-primary');
      }
      .box{

          }
      .tile{
        @include mixin-background-color('vv','color-grey-2');
        @include mixin-color('vv','text-color-primary');
        &.is-parent{
          background-color: transparent;
        }
        .title{
          @include mixin-color('vv','text-color-primary');
        }

      }
      .navbar{
        @include mixin-primary-background-color('vv');
        @include mixin-color('vv','text-color-primary');
         box-shadow: 2px 2px 3px black;
        figure{
          margin-bottom:10px;
         }
      }
     
      .side-menu{
        background-color: $black;
        color:$white;
        box-shadow:  4px 4px 5px rgb(31, 28, 28);
        strong{
          @include mixin-color('vv','color-white');
        }
       
      }
      .list-view{
        background-color: transparent;
        border: none;
        .listItem{
          margin-right:2em!important;
          padding:2em;
      
          .title{
            @include mixin-color('vv','text-color-primary');

          }
        
        @include mixin-background-color('vv','color-grey-2');

        }
      }
      
   
    }
    .light{
      @include mixin-primary-color('vv');
      .create{
        margin-left:3em;
        margin-right:3em;
        background-color: transparent!important;
        .box{
          @include mixin-background-color('vv','color-grey-2'); 
          @include mixin-color('vv','text-color-primary');
        }
      }
      .messenger{
        margin-left:3em;
        margin-right:3em;
        background-color: transparent!important;
        .box{
          @include mixin-background-color('vv','color-grey-2'); 
          @include mixin-color('vv','text-color-primary');
        }
      }
      progress{
        @include mixin-primary-color('vv');
       }
      
      .app{
          @include mixin-background-color('vv','color-grey-1'); 
      }
      p{
        @include mixin-color('vv','text-color-primary');
      }
      label{
        @include mixin-color('vv','text-color-primary');
      }
      h1{
        @include mixin-color('vv','text-color-primary');
      }
      h2{
        @include mixin-color('vv','text-color-primary');
      }
      h3{
        @include mixin-color('vv','text-color-primary');
      }
     
      span{
        @include mixin-color('vv','text-color-primary');
  
      }
      a{
        @include mixin-color('vv','text-color-primary');
      }
      .title{
        @include mixin-color('vv','text-color-primary');
      }
      .subtitle{
        @include mixin-color('vv','text-color-secondary');
      }
     
    
      .card{
        @include mixin-color('vv','text-color-primary');
        }
        .tile{
          @include mixin-background-color('vv','color-white');
          @include mixin-color('vv','text-color-primary');
  &.is-parent{
    background-color: transparent;
  }
          }
          .box{
            @include mixin-color('vv','text-color-primary');
            @include mixin-background-color('vv','color-white');
        
  
            }
            article{
              @include mixin-color('vv','text-color-primary');
              @include mixin-background-color('vv','color-white');
    
            }
        small{
        @include mixin-color('vv','text-color-primary');
          
        }
        .box{
          @include mixin-color('vv','text-color-primary');

          }
    
          .side-menu{
            @include mixin-background-color('vv','color-white');
            @include mixin-color('vv','text-color-primary');
            box-shadow:  4px 4px 5px grey;
  
          }
          .login{
            @include mixin-color('vv','text-color-primary');
          }
       
          .dashboard{
          @include mixin-color('vv','text-color-primary');
          @include mixin-background-color('vv','color-grey-1');
          padding-right:2em;
          border: none;            
          }
          .navbar{
            @include mixin-background-color('vv','color-primary');
            @include mixin-color('vv','text-color-primary');
            box-shadow: 2px 2px 3px grey;
          figure{
           margin-bottom:10px;
          }
          }
          .list-view{
            background-color: transparent;
            border: none;
            .listItem{
              @include mixin-background-color('vv','color-white');
              @include mixin-color('vv','text-color-primary');
              padding:2em;
              margin-right:2em!important;
      
                }
          }
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


