/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    margin: 13.8px 0;
    appearance: none;
    width: 100%; /* Full-width */
    height: 2px; /* Specified height */
    border-radius: 5px;  
    @include mixin-background-color('dxp','text-color-primary');
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
 
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    @include mixin-background-color('dxp','color-grey-2');
    border-radius: 50%; 
    cursor: pointer; /* Cursor on hover */
    @include mixin-border('dxp','color-grey-4');
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    @include mixin-background-color('dxp','color-grey-1');
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }
  .valueDisplay{
    @include mixin-color('dxp','text-color-primary');
    @include mixin-background-color('dxp','color-white');
    @include mixin-font-weight('dxp','font-size-12');
    border-radius: 10px;
    width:30px;
    text-align: center;
    align-content: center;
    padding-top:.15em;
  }